<h1><%= @station.name %></h1>
<%= link_to "Back to all Stations", stations_path %><br/>
<hr>
<h2>Location:</h2>
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?hl=en&amp;ie=UTF8&amp;t=m&amp;ll=49.286395,-123.11202&amp;spn=0.006718,0.013733&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?hl=en&amp;ie=UTF8&amp;t=m&amp;ll=49.286395,-123.11202&amp;spn=0.006718,0.013733&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
<h2>Description:</h2>
<p>This is where the biography of the station goes. It was named after Person A and serves as one of the many entrances from suburb city into the downtown core.</p>
<h2>Attractions:</h2>
<%= Attraction.all %>
<h2>Retailers:</h2>
<h2>Restaurants:</h2>

