<h1>Stations#show</h1>
<%= link_to "Back to all Stations", stations_path %><br/>
<hr>

<%= Station.name %>
<br> 
<p>This is where the biography of the station goes. It was named after Person A and serves as one of the many entrances from suburb city into the downtown core.<p>
