<h1>Stations#show</h1>
<%= link_to "Back to all Stations", stations_path %><br/>
<hr>
<h2>Location:</h2>
<div></div>
<h2>Description:</h2>
<p>This is where the biography of the station goes. It was named after Person A and serves as one of the many entrances from suburb city into the downtown core.</p>
<h2>Attractions:</h2>
<h2>Retailers:</h2>
<h2>Restaurants:</h2>

